{% extends '@backoffice/base.html.twig' %}

{% block title %}
    {{ parent() }} | Home page
{% endblock %}

{% block body %}
    <h1>{{ message }}</h1>

    <hr>

    <img src="{{ asset('build-backoffice/images/backoffice-hero-img.png', 'build_backoffice') }}">
{% endblock %}
