default:
    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php

    suites:
        default:
            contexts:
                - App\Tests\Behat\DemoContext

