default:
    gherkin:
        filters:
            tags: ~@wip

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
        Robertfausk\Behat\PantherExtension: ~
        Behat\MinkExtension:
            default_session: panther
            browser_name: chrome
            javascript_session: panther
            panther:
                options:
                    browser: 'firefox'
                    #external_base_uri: 'http://127.0.0.1'
                kernel_options:
                   APP_ENV: test
                   APP_DEBUG: false
                manager_options:
                   connection_timeout_in_ms: 5000
                   request_timeout_in_ms: 120000

    suites:
        demo:
            contexts:
                - App\Tests\Behat\DemoContext
                - App\Tests\Behat\OtherDemoContext
            paths:
                - '%paths.base%/features/demo.feature'

        front:
            contexts:
                - App\Tests\Behat\AcceptanceContext
                - App\Tests\Behat\AuthenticationContext
            paths:
                - '%paths.base%/features/front'

        backoffice:
            contexts:
                - App\Tests\Behat\AcceptanceContext
            paths:
                - '%paths.base%/features/backoffice'

gha-prod-in-docker:
    extensions:
        Behat\MinkExtension:
            base_url: http://127.0.0.1
            panther:
                kernel_options:
                   APP_ENV: prod
                   APP_DEBUG: false

local-pc:
    extensions:
        Behat\MinkExtension:
            base_url: http://127.0.0.1
            default_session: panther
            browser_name: chrome
            javascript_session: panther
            panther:
                options:
                    browser: 'firefox'
                    #external_base_uri: 'http://127.0.0.1'
                kernel_options:
                   APP_ENV: dev
                   APP_DEBUG: false
                manager_options:
                   connection_timeout_in_ms: 5000
                   request_timeout_in_ms: 120000
