version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: docker/apple-m1/php-dev/Dockerfile

  web:
    build:
      context: .
      dockerfile: docker/apple-m1/nginx/Dockerfile
