includes:
	- phpstan-baseline.neon

parameters:
    level: max

    paths:
        - src/
        - tests/
        - core/backoffice/src/
        - core/backoffice/tests/
        - core/ingesting/src/
        - core/ingesting/tests/
        - core/publishing/src/
        - core/publishing/tests/
        - core/websiteBFF/src/
        - core/websiteBFF/tests/


    checkMissingIterableValueType: false

    inferPrivatePropertyTypeFromConstructor: true

    #bootstrapFiles:
        #- bin/.phpunit/phpunit/vendor/autoload.php
    #scanDirectories:
        #- vendor/

    excludePaths:
        - tests/bootstrap.php
        - tests/Behat

    tmpDir: var/tools/phpstan/
