parameters:
	ignoreErrors:
		-
			message: "#^Class Ingesting\\\\Errata\\\\Adapter\\\\Persistence\\\\Doctrine\\\\DoctrineErrataFeedRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: T$#"
			count: 1
			path: core/ingesting/src/Errata/Adapter/Persistence/Doctrine/DoctrineErrataFeedRepository.php

		-
			message: "#^Cannot access offset 0 on iterable\\.$#"
			count: 1
			path: core/ingesting/src/Errata/Adapter/Rss/FeedIoRssReader.php

		-
			message: "#^Cannot call method format\\(\\) on DateTime\\|null\\.$#"
			count: 1
			path: core/ingesting/src/Errata/Adapter/Rss/FeedIoRssReader.php

		-
			message: "#^Parameter \\#1 \\$title of static method Ingesting\\\\Errata\\\\Adapter\\\\Rss\\\\RssDataItem\\:\\:create\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: core/ingesting/src/Errata/Adapter/Rss/FeedIoRssReader.php

		-
			message: "#^Parameter \\#3 \\$link of static method Ingesting\\\\Errata\\\\Adapter\\\\Rss\\\\RssDataItem\\:\\:create\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: core/ingesting/src/Errata/Adapter/Rss/FeedIoRssReader.php

		-
			message: "#^Property Ingesting\\\\Errata\\\\Application\\\\ErrataModule\\:\\:\\$readErrataRssUsecase is never read, only written\\.$#"
			count: 1
			path: core/ingesting/src/Errata/Application/ErrataModule.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 4
			path: core/ingesting/src/PublicJob/AclAdapter/Model/JobFeed.php

		-
			message: "#^Class Ingesting\\\\PublicJob\\\\Adapter\\\\Persistence\\\\Doctrine\\\\DoctrineJobFeedRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: T$#"
			count: 1
			path: core/ingesting/src/PublicJob/Adapter/Persistence/Doctrine/DoctrineJobFeedRepository.php

		-
			message: "#^Cannot access offset 0 on iterable\\.$#"
			count: 1
			path: core/ingesting/src/PublicJob/Adapter/Rss/FeedIoRssReader.php

		-
			message: "#^Cannot call method format\\(\\) on DateTime\\|null\\.$#"
			count: 1
			path: core/ingesting/src/PublicJob/Adapter/Rss/FeedIoRssReader.php

		-
			message: "#^Parameter \\#1 \\$title of static method Ingesting\\\\PublicJob\\\\Adapter\\\\Rss\\\\RssDataItem\\:\\:create\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: core/ingesting/src/PublicJob/Adapter/Rss/FeedIoRssReader.php

		-
			message: "#^Parameter \\#3 \\$link of static method Ingesting\\\\PublicJob\\\\Adapter\\\\Rss\\\\RssDataItem\\:\\:create\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: core/ingesting/src/PublicJob/Adapter/Rss/FeedIoRssReader.php

		-
			message: "#^Call to an undefined method object\\:\\:request\\(\\)\\.$#"
			count: 1
			path: core/ingesting/src/SharedKernel/Infrastructure/FeedIoAdapter/GazzettaClient.php

		-
			message: "#^Call to an undefined method Symfony\\\\Contracts\\\\HttpClient\\\\ResponseInterface\\:\\:getHeader\\(\\)\\.$#"
			count: 1
			path: core/ingesting/src/SharedKernel/Infrastructure/FeedIoAdapter/Response.php

		-
			message: "#^Call to an undefined method Symfony\\\\Contracts\\\\HttpClient\\\\ResponseInterface\\:\\:hasHeader\\(\\)\\.$#"
			count: 1
			path: core/ingesting/src/SharedKernel/Infrastructure/FeedIoAdapter/Response.php

		-
			message: "#^Cannot access offset 0 on iterable\\.$#"
			count: 1
			path: core/ingesting/src/SharedKernel/Infrastructure/FeedIoAdapter/Response.php

		-
			message: "#^Parameter \\#1 \\$string of function strlen expects string, string\\|null given\\.$#"
			count: 1
			path: core/ingesting/src/SharedKernel/Infrastructure/FeedIoAdapter/Response.php

		-
			message: "#^Property Ingesting\\\\Tests\\\\Errata\\\\Integration\\\\Infrastructure\\\\ProductionServiceContainerTest\\:\\:\\$errataFeedRepository \\(Ingesting\\\\Errata\\\\Application\\\\Model\\\\ErrataFeedRepository\\) does not accept null\\.$#"
			count: 1
			path: core/ingesting/tests/Errata/Integration/Infrastructure/ProductionServiceContainerTest.php

		-
			message: "#^Property Ingesting\\\\Tests\\\\Errata\\\\Integration\\\\Infrastructure\\\\ProductionServiceContainerTest\\:\\:\\$errataFeedRepository \\(Ingesting\\\\Errata\\\\Application\\\\Model\\\\ErrataFeedRepository\\) does not accept object\\|null\\.$#"
			count: 1
			path: core/ingesting/tests/Errata/Integration/Infrastructure/ProductionServiceContainerTest.php

		-
			message: "#^Method Ingesting\\\\Tests\\\\Errata\\\\Integration\\\\Persistence\\\\DoctrineErrataFeedRepositoryTest\\:\\:createRepository\\(\\) should return Ingesting\\\\Errata\\\\Application\\\\Model\\\\ErrataFeedRepository but returns object\\|null\\.$#"
			count: 1
			path: core/ingesting/tests/Errata/Integration/Persistence/DoctrineErrataFeedRepositoryTest.php

		-
			message: "#^Method Ingesting\\\\Tests\\\\Errata\\\\Unit\\\\Model\\\\Service\\\\ErrataUniqueServiceTest\\:\\:createErrataFeedItem\\(\\) is unused\\.$#"
			count: 1
			path: core/ingesting/tests/Errata/Unit/Model/Service/ErrataUniqueServiceTest.php

		-
			message: "#^Constant Ingesting\\\\Tests\\\\Errata\\\\Unit\\\\Usecase\\\\ReadErrataRssUsecaseTest\\:\\:ITEM_UUID is unused\\.$#"
			count: 1
			path: core/ingesting/tests/Errata/Unit/Usecase/ReadErrataRssUsecaseTest.php

		-
			message: "#^Call to an undefined method Doctrine\\\\ORM\\\\EntityRepository\\<Ingesting\\\\PublicJob\\\\Application\\\\Model\\\\JobFeed\\>\\:\\:save\\(\\)\\.$#"
			count: 4
			path: core/ingesting/tests/PublicJob/Integration/AclAdapter/DistributableJobFeedRepositoryTest.php

		-
			message: "#^Cannot call method close\\(\\) on Doctrine\\\\ORM\\\\EntityManager\\|null\\.$#"
			count: 1
			path: core/ingesting/tests/PublicJob/Integration/AclAdapter/DistributableJobFeedRepositoryTest.php

		-
			message: "#^Cannot call method getManager\\(\\) on object\\|null\\.$#"
			count: 1
			path: core/ingesting/tests/PublicJob/Integration/AclAdapter/DistributableJobFeedRepositoryTest.php

		-
			message: "#^Parameter \\#1 \\$repository of class Ingesting\\\\PublicJob\\\\AclAdapter\\\\InProcess\\\\IngestingAclService constructor expects Ingesting\\\\PublicJob\\\\AclAdapter\\\\Repository\\\\DistributableJobFeedRepository, object\\|null given\\.$#"
			count: 1
			path: core/ingesting/tests/PublicJob/Integration/AclAdapter/JobFeedAclServiceTest.php

		-
			message: "#^Property Ingesting\\\\Tests\\\\PublicJob\\\\Integration\\\\Infrastructure\\\\PublicJobProductionServiceContainerTest\\:\\:\\$jobRepository \\(Ingesting\\\\PublicJob\\\\Application\\\\Model\\\\JobRepository\\) does not accept null\\.$#"
			count: 1
			path: core/ingesting/tests/PublicJob/Integration/Infrastructure/PublicJobProductionServiceContainerTest.php

		-
			message: "#^Property Ingesting\\\\Tests\\\\PublicJob\\\\Integration\\\\Infrastructure\\\\PublicJobProductionServiceContainerTest\\:\\:\\$jobRepository \\(Ingesting\\\\PublicJob\\\\Application\\\\Model\\\\JobRepository\\) does not accept object\\|null\\.$#"
			count: 1
			path: core/ingesting/tests/PublicJob/Integration/Infrastructure/PublicJobProductionServiceContainerTest.php

		-
			message: "#^Property Ingesting\\\\Tests\\\\PublicJob\\\\Integration\\\\Persistence\\\\JobRepository\\\\DoctrineJobRepositoryTest\\:\\:\\$doctrineJobFeedRepository \\(Ingesting\\\\PublicJob\\\\Application\\\\Model\\\\JobRepository\\|null\\) does not accept object\\|null\\.$#"
			count: 1
			path: core/ingesting/tests/PublicJob/Integration/Persistence/JobRepository/DoctrineJobRepositoryTest.php

		-
			message: "#^Property Ingesting\\\\Tests\\\\PublicJob\\\\Integration\\\\Persistence\\\\ReadableJobRepository\\\\DoctrineReadableJobRepositoryTest\\:\\:\\$doctrineReadableJobFeedRepository \\(Ingesting\\\\PublicJob\\\\Application\\\\Usecase\\\\ReadableJobFeedRepository\\|null\\) does not accept object\\|null\\.$#"
			count: 1
			path: core/ingesting/tests/PublicJob/Integration/Persistence/ReadableJobRepository/DoctrineReadableJobRepositoryTest.php

		-
			message: "#^Property Ingesting\\\\Tests\\\\PublicJob\\\\Integration\\\\Persistence\\\\ReadableJobRepository\\\\DoctrineReadableJobRepositoryTest\\:\\:\\$writeModel \\(Ingesting\\\\PublicJob\\\\Adapter\\\\Persistence\\\\Doctrine\\\\DoctrineJobFeedRepository\\) does not accept object\\|null\\.$#"
			count: 1
			path: core/ingesting/tests/PublicJob/Integration/Persistence/ReadableJobRepository/DoctrineReadableJobRepositoryTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: core/ingesting/tests/PublicJob/Unit/AclAdapter/Model/JobFeedTest.php

		-
			message: "#^Constant Ingesting\\\\Tests\\\\PublicJob\\\\Unit\\\\Usecase\\\\ReadJobRssUsecaseTest\\:\\:ITEM_UUID is unused\\.$#"
			count: 1
			path: core/ingesting/tests/PublicJob/Unit/Usecase/ReadJobRssUsecaseTest.php

		-
			message: "#^Constant Ingesting\\\\Tests\\\\PublicJob\\\\Unit\\\\Usecase\\\\ShowFeedJobViewCaseTest\\:\\:PUB_DATE is unused\\.$#"
			count: 1
			path: core/ingesting/tests/PublicJob/Unit/Usecase/ShowFeedJobViewCaseTest.php

		-
			message: "#^Class Publishing\\\\Cms\\\\Adapter\\\\Persistence\\\\DoctrineArticleRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: T$#"
			count: 1
			path: core/publishing/src/Cms/Adapter/Persistence/DoctrineArticleRepository.php

		-
			message: "#^Method Publishing\\\\Cms\\\\Adapter\\\\Persistence\\\\DoctrineArticleRepository\\:\\:withId\\(\\) should return Publishing\\\\Cms\\\\Application\\\\Model\\\\Article\\\\Article but returns Publishing\\\\Cms\\\\Application\\\\Model\\\\Article\\\\Article\\|null\\.$#"
			count: 1
			path: core/publishing/src/Cms/Adapter/Persistence/DoctrineArticleRepository.php

		-
			message: "#^Method Publishing\\\\Cms\\\\Adapter\\\\Persistence\\\\JobArticleRepository\\:\\:findById\\(\\) should return Publishing\\\\Cms\\\\Application\\\\Model\\\\JobArticle\\\\JobArticle\\|null but returns mixed\\.$#"
			count: 1
			path: core/publishing/src/Cms/Adapter/Persistence/JobArticleRepository.php

		-
			message: "#^Property Publishing\\\\Cms\\\\Application\\\\Model\\\\JobArticle\\\\JobArticle\\:\\:\\$content has no type specified\\.$#"
			count: 1
			path: core/publishing/src/Cms/Application/Model/JobArticle/JobArticle.php

		-
			message: "#^Property Publishing\\\\Cms\\\\Application\\\\Model\\\\JobArticle\\\\JobArticle\\:\\:\\$id has no type specified\\.$#"
			count: 1
			path: core/publishing/src/Cms/Application/Model/JobArticle/JobArticle.php

		-
			message: "#^Property Publishing\\\\Cms\\\\Application\\\\Model\\\\JobArticle\\\\JobArticle\\:\\:\\$id is never written, only read\\.$#"
			count: 1
			path: core/publishing/src/Cms/Application/Model/JobArticle/JobArticle.php

		-
			message: "#^Property Publishing\\\\Cms\\\\Application\\\\Model\\\\JobArticle\\\\JobArticle\\:\\:\\$publicationEnd has no type specified\\.$#"
			count: 1
			path: core/publishing/src/Cms/Application/Model/JobArticle/JobArticle.php

		-
			message: "#^Property Publishing\\\\Cms\\\\Application\\\\Model\\\\JobArticle\\\\JobArticle\\:\\:\\$publicationStart has no type specified\\.$#"
			count: 1
			path: core/publishing/src/Cms/Application/Model/JobArticle/JobArticle.php

		-
			message: "#^Property Publishing\\\\Cms\\\\Application\\\\Model\\\\JobArticle\\\\JobArticle\\:\\:\\$title has no type specified\\.$#"
			count: 1
			path: core/publishing/src/Cms/Application/Model/JobArticle/JobArticle.php

		-
			message: "#^Cannot call method getRepository\\(\\) on object\\|null\\.$#"
			count: 1
			path: core/publishing/tests/Cms/Functional/JobArticleControllerTest.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 2
			path: src/Command/AdminCreateCommand.php

		-
			message: "#^Cannot call method getManager\\(\\) on object\\|null\\.$#"
			count: 2
			path: tests/Behat/AcceptanceContext.php

		-
			message: "#^Method App\\\\Tests\\\\Behat\\\\AcceptanceContext\\:\\:getNodeElement\\(\\) should return Behat\\\\Mink\\\\Element\\\\NodeElement but returns Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 1
			path: tests/Behat/AcceptanceContext.php

		-
			message: "#^Method App\\\\Tests\\\\Behat\\\\AcceptanceContext\\:\\:getTestElement\\(\\) is unused\\.$#"
			count: 1
			path: tests/Behat/AcceptanceContext.php

		-
			message: "#^Property App\\\\Tests\\\\Behat\\\\AuthenticationContext\\:\\:\\$kernel is never read, only written\\.$#"
			count: 1
			path: tests/Behat/AuthenticationContext.php

		-
			message: "#^Property App\\\\Tests\\\\Behat\\\\AuthenticationContext\\:\\:\\$userPasswordHasher is never read, only written\\.$#"
			count: 1
			path: tests/Behat/AuthenticationContext.php

		-
			message: "#^Property App\\\\Tests\\\\Behat\\\\OtherDemoContext\\:\\:\\$kernel is never read, only written\\.$#"
			count: 1
			path: tests/Behat/OtherDemoContext.php

		-
			message: "#^Property App\\\\Tests\\\\Behat\\\\OtherDemoContext\\:\\:\\$response is unused\\.$#"
			count: 1
			path: tests/Behat/OtherDemoContext.php

		-
			message: "#^Cannot call method request\\(\\) on Symfony\\\\Component\\\\Panther\\\\Client\\|null\\.$#"
			count: 1
			path: tests/E2E/Front/HomeTest.php

		-
			message: "#^Cannot call method waitForElementToContain\\(\\) on Symfony\\\\Component\\\\Panther\\\\Client\\|null\\.$#"
			count: 1
			path: tests/E2E/Front/HomeTest.php

