<div id="carouselHomepageSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ asset('build-website/images/slide/home/cc53a63_slide_3_940x627_1.jpg', 'website') }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
{#            <img src="/images/slide/home/97d7193_slide_2_940x627_1.jpg" class="d-block w-100" alt="...">#}
            <img src="{{ asset('build-website/images/slide/home/97d7193_slide_2_940x627_1.jpg', 'website') }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
{#            <img src="/images/slide/home/cc53a63_slide_3_940x627_1.jpg" class="d-block w-100" alt="...">#}
            <img src="{{ asset('build-website/images/slide/home/cc53a63_slide_3_940x627_1.jpg', 'website') }}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselHomepageSlidesOnly" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselHomepageSlidesOnly" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
