{
    "require-dev": {
        "phpstan/extension-installer": "*",
        "phpstan/phpstan": "^0.12.88",
        "phpstan/phpstan-deprecation-rules": "*",
        "phpstan/phpstan-phpunit": "*",
        "phpstan/phpstan-strict-rules": "*"
    },
    "config": {
        "preferred-install": {
            "*": "dist"
        },
        "sort-packages": true,
        "allow-plugins": {
            "phpstan/extension-installer": true
        }
    }
}
