{% extends '@website/base.html.twig' %}

{% block title %}
    {{ parent() }} | Chi siamo
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="head-line">
            <i class="bi-heart text-danger"></i>
            Chi Siamo
        </h1>

        dsbljbf
        fjgnsòjng


        fgnòarg
        flgngòjs
    </div>

{% endblock %}
