/.git
/.github
/core/backoffice/tests
/core/publishing/tests
/core/ingesting/tests
/docker
/drivers
/features
/node_modules
/sys
/test
/tools
/var
/vendor
/workflow

.actrc
.env.test
.gitignore
behat.yml.dist
docker-compose.ci-gha.yml
docker-compose.override.yml.dist
docker-compose.yml
dockerhub.makefile
ecs.php
Makefile
package.json
phpstan.neon
phpstan-baseline.neon
phpunit.core.xml
phpunit.xml.dist
postcss.config.js
psalm.xml
psalm-baseline.xml
README.md
rector.php
symfony.lock
webpack.config.js
yarn.lock