{% extends '@website/base.html.twig' %}

{% block title %}
    {{ parent() }} | Lavoro
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="head-line">
            <i class="bi-heart text-danger"></i>
            Offerta Lavoro
        </h1>
            {{ data.0.id }} - {{ data.0.title }} - {{ data.0.content }}
    </div>

{% endblock %}
