{% extends '@backoffice/base.html.twig' %}

{% block title %}New ConcorsoArticle{% endblock %}

{% block body %}
    {{ include('@cms/_static/flash_message.html.twig') }}
    <h1>Create new ConcorsoArticle</h1>

    {{ include('@cms/concorso_article/_form.html.twig') }}

    <a href="{{ path('app_concorso_article_index') }}">back to list</a>
{% endblock %}
